# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.vcxproj
*.vcxproj.filters

# Build results
Debug/
Release/
x64/
x86/
out/
build/

# Intermediate files
*.obj
*.pch
*.pdb
*.ilk
*.log
*.ipch

# Executables
*.exe
*.dll

# CMake (如果用)
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Other
*.user
*.suo
